<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% if title %}
    <title class="text-center">{{ title }} - What's Happening In & Out of IC?</title>
    {% else %}
    <title class="text-center">What's Happening In & Out of IC?</title>
    {% endif %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home"><b>Campus Events:</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" href="/events">Events<span class="sr-only">(current)</span></a>
            <a class="nav-link active" href="/Blog">Blog</a>
            <a class="nav-link active" href="/SnackingAndSlacking">Snacking&Slacking</a>
            {% if current_user.is_anonymous %}
            <a class="nav-link" href="/login">Login</a>
            {% else %}
                <a class="nav-link" href="/logout">Logout</a>
            {% endif %}
        </div>
    </div>


</nav>

<hr>
 {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
{% block content %}{% endblock %}
</body>
</html>