{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.date.label }}<br>
         {% for error in form.date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.snacking_and_slacking.label }}<br>
        {% for error in form.snacking_and_slacking_post.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.food.label }}<br>
        {% for error in form.food.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.diningHall.label }}<br>
        {% for error in form.diningHall.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
{% endblock %}